{
  "presets": [
    [
      "@babel/preset-env", {
        "targets": {
          // "edge": "17" // 这个属性有点小问题
        },
        "corejs": 2,
        "useBuiltIns": "usage"
      }
    ],
    // 继承 react 的插件
    [
      "@babel/preset-react"
    ]
  ]
}
